<div class="footer_container">

	<div class="footer_top">
		<img class="footer_top_logo" src="assets/psn-logo-branca.png">
		<div class="footer_top_language">Portuguese BR</div>
	</div>

	<div class="footer_middle">
		<div class="footer_middle_left">
			<ul>
				<li>Suporte</li>
				<li>Política de privacidade</li>
				<li>Termos de uso do site</li>
				<li>Mapa do site</li>
				<li>Playstation Studios</li>
				<li>Legal</li>
				<li>Sobre a SIE</li>
			</ul>
		</div>
		<div class="footer_middle_center">
			<ul>
				<li>Termos de serviço da PSN</li>
				<li>Política de cancelamento da PS Store</li>
				<li>Avisos de saúde</li>
				<li>Sobre as classificações</li>
			</ul>
		</div>
		<div class="footer_middle_right">
			<ul>
				<li>Facebook</li>
				<li>Twitter</li>
				<li>YouTube</li>
				<li>Instagram</li>
				<li>Aplicativo para Android</li>
				<li>Aplicativo para iOS</li>
			</ul>
		</div>
	</div>

	<div class="footer_bottom">
		<p>© 2023 Sony Interactive Entertainment Inc. Todos os direitos reservados.</p>
	</div>


</div>
